<div ng-controller="ChatCtrl">
  <div class="row centered" ng-if="!myName">
    <div class="col-md-11">
      <b>Add a name</b>

      <div >
        <input type="text" ng-model="name" ng-enter="setName(name)"/>
        <button ng-click="setName(name)"> add </button>
      </div>
    </div>
  </div>
  <div class="row" ng-if="myName">
    <div class="col-md-2">
      <h1>Users</h1>
      <ul>
        <li ng-repeat="user in users">
          {{user.Name}}
        </li>
      </ul>
    </div>
    <div class="col-md-7">
      <div class="row">
        <h1>Messages</h1>
        <div class="messages-scroll-bar" scroll-glue>
          <div class="row" ng-repeat="msg in messages">
            <div class="col-md-2"> {{msg.Name}} - </div> 
            <div class="col-md-9 well">{{msg.Text}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <input type="text" ng-model="messenger.message" ng-enter="messenger.sendMessage()"/>
        <button ng-click="messenger.sendMessage()"> send </button>
      </div>
    </div>
    <div class="col-md-2" ng-if="!isAdmin && myName">
      <div class="row">
        <h5>Propose YT video</h5>
      </div>
      <div class="row">
        <input type="text" ng-model="propose.url" ng-enter="proposeVideo(propose.url)"/>
        <button ng-click="proposeVideo(propose.url)"> propose </button>
      </div>
    </div>

  </div>
</div>
