<div ng-if="!isAdmin">
  <div class="centered">
    <div class="row">
      <p><b>Wadio Space</b> is a web service to help you share youtube videos, images and mp3s with your listeners</p>
      <p>You can open your own <b>Wadio Space</b> in an instance</p>
    </div>
    <div class="row">
      <button class="btn btn-large btn-primary" ng-click="openRadio()"> Open new wadio </button>
    </div>
  </div>
</div>




<div ng-if="isAdmin">
  <div class="panel panel-defauld">
    <div class="centered row">
      <div class="col-md-5">
        <p><b>Share</b> this link <b>http://wadio.space/#/listener/{{my_session}}</b>
        to your listeners</p>
        <p><b>Listeners:{{countListeners}}</b></p>
        
      </div>
      <div class="col-md-5">
        <p><b>DO NOT</b> close this tab, <b>DO NOT</b> reload</p>
        <p><b>OR ELSE</b> the wadio will close and all the files will be deleted </p>
      </div>
    </div>

    <div class="row">

      <div ng-include="'static/app/pages/admin/admin_file.html'" ></div>
    </div>
  </div>
</div>

