<div ng-controller="AdminFileCtrl">
  <tabset>
  <tab heading="Youtube">
  <div class="panel panel-default">
    <div class="panel-body">
      <div ng-include="'static/app/pages/admin/admin.html'" ></div>  
    </div>
  </div>
  </tab>
  <tab heading="Image">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="centered row">
        <div class="col-md-2">
          <div class="row">
            <div class="row">
              <b> Add Image </b>
            </div>
            <div class="row">
              <button class="button"  
                      ngf-select ngf-change="upload('image', $files)" 
                                 ng-multiple="false"
                                 accept=".jpg,.jpeg,.gif,.png">Select File</button>

              <button ng-if="fileByType.image.length > 0" ng-click="uploadFile('image')"> 
                upload image</button>
            </div>
            <div ng-if="progressFile.image > 0" class="row">
              <span>{{progressFile.image}}%</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div ng-if="imagesrc" class="row">
            <div class="row">
              <button ng-click="removeImage()"> remove </button>                
            </div>
            <div class="row">
              <img ng-src="{{imagesrc}}" width="300" height="300"/>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <span><b>Images</b></span>
            <ul ng-repeat="f in listFiles.image">
              <li>{{f.Name}} <button ng-click="showImage(f.Id)">show</button> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </tab>
  <tab heading="Sound">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="centered row">
        <div class="col-md-2">
          <div class="row"><b> Add sound </b></div>
          <div class="row">
            <button class="button"  
                    ngf-select ngf-change="upload('sound', $files)" 
                               ng-multiple="false"
                               accept=".mp3, .wav, .ogg">Select File</button>

            <button  ng-if="fileByType.sound.length > 0" ng-click="uploadFile('sound')"> 
              upload sound</button>
          </div>
          <div ng-if="progressFile.sound > 0" class="row">
            <span>{{progressFile.sound}}%</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row" ng-if="soundPlayer != null">
            <div class="row">
              <span><b>{{soundName}}</b></span>
            </div>
            <div class="row">
              <button ng-click="playSound()"> play </button> 
              <button ng-click="pauseSound()"> pause </button>
              <button ng-click="stopSound()">stop</button>
              <button ng-if="!isMute" ng-click="muteSound()">mute</button>
              <button  ng-if="isMute" ng-click="muteSound()">unmute</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <span><b>Playlist</b></span>
          <div class="row">
            <ul ng-repeat="f in listFiles.sound">
              <li>{{f.Name}} <button ng-click="loadSound(f.Id,f.Name)">load</button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </tab>
  <tab heading="Speak">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="centered row">
        <button ng-show="!isRecording" class="btn btn-large btn-primary" ng-click="record()">record</button>
        <button ng-show="isRecording" class="btn btn-large btn-primary" ng-click="stopRecord()">stop and send</button>
        <div ng-if="progressFile.record > 0" class="row">
          <span>{{progressFile.record}}%</span>
        </div>

      </div>
    </div>
  </div>
  </tab>
  <tab heading="Chat">
  <div ng-include="'/static/app/pages/chat.html'"></div>
  </tab>
  </tabset>
</div>
