<div ng-controller="AdminCtrl">
  <div class="centered">
    <div class="row">

      <div class="col-md-3">
        <div ng-show="video" class="row">
          <button ng-click="playRadio()">play</button>    
          <button ng-click="pauseRadio()">pause</button>
          <button ng-click="stopRadio()">stop</button>
          <button ng-click="syncRadio()">sync</button>
        </div>

        <div class="row">
          <div id="player"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <input placeholder="Youtube URL or video ID" type="text" ng-model="url" />
          <button ng-click="add(url)">add</button>
        </div>
        <div class="row">
          <span><b>Playlist</b></span>
          <ul ng-repeat="v in playlist track by $index">
            <li> {{v}} <button ng-click="play(v)">play</button>
              <button ng-click="remove(v)">x</button></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
         <div class="row">
          <span><b>Proposed Playlist</b></span>
          <ul ng-repeat="v in proposedVideos">
            <li> {{v.Username}}:{{v.VideoId}} <button ng-click="play(v.VideoId)">play</button>
              <button ng-click="removeProposed(v.VideoId)">x</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
