<div class="panel-body">  
  <div class="centered row">
    <div class="row">
      <p><b>If you think it does not work, then you need to upgrade your browser to support websockets</b></p>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div id="player"></div>
      </div>
      <div class="col-md-5">
        <div ng-if="imagesrc" class="row">
          <img ng-src="{{imagesrc}}" width="500" height="400"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div ng-include="'/static/app/pages/chat.html'"></div> 
    </div>
  </div>
</div>

